:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.vanilla:hover {
  filter: drop-shadow(0 0 2em #3178c6aa);
}

.card {
  padding: 2em;
  display: flex;
  flex-flow: column nowrap;
}

.read-the-docs {
  color: #888;
}

button {
  border-radius: 8px;
  border: 2px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  transition: border-color 0.25s;
}
button:not(:disabled) {
  cursor: pointer;
}
button:hover:not(:disabled) {
  border-color: #BAF466;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.grid {
  grid-auto-flow: row;
  display: grid;
  gap: 8px;
  grid-template-columns: 1fr 3fr;
  grid-row-gap: 16px;
}

.message {
  grid-column: 1 / 3;
}

.progress {
  --gradient-start:#125EEF;
  --gradient-end: #66B1F4;
  --background-color: rgba(212, 212, 212, 0);
  --percent: 0%;
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  text-align: right;
  border-color: #424242;
  background: linear-gradient(
    90deg,
    var(--gradient-start) 0%,
    var(--gradient-end) var(--percent),
    var(--background-color) var(--percent),
    var(--background-color) 100%
  );
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
  .progress {
    border-color: #e1e1e1;
    --gradient-start:#12EFA7;
    --gradient-end: #BAF466;
  }
}
